.faq {
  background-color: #F8F9FC;
  padding-bottom: 70px;
}

.faq__container {
width: 320px;
margin: 0 auto;
}

.faq__title {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 35px;
  font-family: Alumni Sans, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
color: #102654;
}

.faq__content {
  display: none;
width: 290px;
margin: 0 auto;
}

.faq__content.active {
  display: block;
}

.faq__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  gap: 8px;
  margin: 0 auto;
  padding-bottom: 34px;
}

.faq__tab {
  width: 140px;
  font-family: Roboto Condensed,sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
 border: 1px solid #10265433;
 background-color: #F8F9FC;
padding: 15px;
}

.faq__tab--active {
color: #ffffff;
background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
border: none;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #74819C;
  width: 290px;
}

.faq__list li {
  position: relative;
  border-bottom: 1px solid #74819C;

}

.faq__list h3{
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: left;
  background-color: #F8F9FC;
  border: none;
  color: #102654;
  width: 240px;
}

.faq__list p {
  display: none;
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.faq__list .active p {
  position: relative;
  display: block;
  max-height: 200px;
}

.faq__list button {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 23px;
  font-weight: 300;
  width: 30px;
  height: 30px;
  background-color: #F8F9FC;
  border: 1px solid #1C3374;
  border-radius: 50%;
  padding-bottom: 6px;
}

.faq__list:first-of-type li:nth-child(3) button,
.faq__list:first-of-type li:nth-child(4) button {
top: 35px;
}
.faq__list button::before,
.faq__list button::after {
  content: "";
  position: absolute;
  background-color: #000; /* цвет линий, можно менять */
  transition: transform 0.3s ease;
}

/* Горизонтальная линия */
.faq__list button::before {
  top: 50%;
  left: 20%;
  right: 20%;
  height: 1px;  /* толщина линии */
  transform: translateY(-50%);
}

/* Вертикальная линия */
.faq__list button::after {
  left: 50%;
  top: 20%;
  bottom: 20%;
  width: 1px;  /* толщина линии */
  transform: translateX(-50%);
}

/* При активном состоянии (например, открытом аккордеоне) скрываем вертикальную линию, чтобы получить знак минус */
.faq__list li.active button::after {
  transform: translateX(-50%) scaleY(0);
}